services:
  cadastralflow:
    container_name: cadastralflow
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    volumes:
      - ./:/app
      - ./outputs:/app/outputs
    command: [ "supervisord", "-n", "-c", "/etc/supervisor/conf.d/supervisord.conf" ]
